<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Opdracht 3</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			font-family: 'open sans';
			text-align: center;
		}
		aside {
			display: inline-block;
		}

		h1 {
			padding: 1rem 0;
		}

		section {
			background: green;
			color: white;
			text-align: center;
			position: fixed;
			width: 18.75rem;
			width: 300px;
			padding: 2rem;
			display: none;
			top: 50%;
			left: 50%;
			margin-top: -100px;
			margin-left: -150px;
			visibility: hidden;
		}

		section h2 {
			font-size: 1.5rem;
		}

		section p:first-of-type {
			cursor: pointer;
		}

		.modal {
			display: block;
			visibility: visible;
			z-index: 1;
		}

		.notification {
			cursor: pointer;
			padding: 2rem;
			color: white;
			background: #EE0000;
			width: 20rem;
			margin: 2rem auto;
		}

		main {
			background: green;
			text-align: center;
			padding: 2rem;
			color: white;
		}

		nav {
			padding: 0;
			background: #EE0000;
			color: white;
		}

		nav p {
			padding: 1rem;
		}

	</style>
</head>
<body>
	<nav>
		<p>Week 3</p>
	</nav>
	<h1>Opdracht 3</h1>
	<section>
		<p>x</p>
		<h1>Resultaat</h1>
		<h2></h2>
	</section>
	<main>
		<aside>
			<h1>Team A</h1>
			<input type="number" value="2">
		</aside>
		<aside>
			<h1>Team B</h1>
			<input type="number" value="1">
		</aside>
	</main>
	<script src="/scripts/script.js"></script>
	<script src='/scripts/push.min.js'></script>
</body>
</html>