<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contacten Lijst</title>
	<style>
		* {
			scroll-behavior: smooth;
			box-sizing: border-box;
		}
		body {
			margin: 0;
			padding: 0;
		}
		.fixed {
			position: fixed;
		}

		main {
			max-width: 500px;
		}

		#up {
			bottom: 0;
			left: 0;
			border-radius: 8px;
		}

		.header {
			/* background: url('./images/cool-background.png'); */
			background: #314CB6;
			color: white;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.header h1 {
			padding: 2rem 1rem;
			text-align: center;
			margin: 0;
		}

		#main {
			width: 90%;
			margin: 0 auto;
		}

		.nav {
			position: fixed;
			right: 5%;
			display: flex;
			list-style: none;
			font-size: 1.2rem;
			height: 100%;
		}

		.nav a {
			color: #333;
		}

		li {
			list-style: none;
		}

		.nav li {
			margin: 0.5rem 0;
			transition: all 0.2s ease;
			text-align: center;
		}

		.nav li:hover,
		.nav li:focus,
		.nav li:focus-within {
			transform: scale(2);
			border: 1px dashed black;
			outline: 0;
			outline: none;
		}

		.nav a {
			text-decoration: none;
			outline: 0;
		}

		form {
			position: sticky;
			top: 0;
			background: white;
			padding: 2rem;
			text-align: center;
			background: #00487C;
			color: white;
		}


		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li details {
			background: gray;
			width: 100%;
			border-radius: 8px;
			margin: 1rem 0;
		}

		li details summary {
			padding: 1rem;
			display: inline-block;
			width: 100%;
			cursor: pointer;
			outline: 0;
		}

		li details summary:focus {
			border: 1px solid black;
			border-radius: 8px;
		}

		li details summary h4 {
			display: inline-block;
		}

		#up {
			background: #BF4C9F;
			padding: 1rem;
			color: white;
			text-decoration: none;
		}

	</style>
</head>
<body>

<div class="header" id='header'>
	<h1>Je contacten lijstje</h1>
</div>
	<form action="/" method='GET'>
		<label> Search
		<input type="text" name='namesearch'>
		</label>
		<input type="submit" value='Search'>
	</form> 

	<div class="nav">
      <ol>
        <li>
          <a href="#A" class="shortcut">A</a>
        </li>
        <li>
          <a href="#B" class="shortcut">B</a>
        </li>
        <li>
          <a href="#C" class="shortcut">C</a>
        </li>
        <li>
          <a href="#D" class="shortcut">D</a>
        </li>
        <li>
          <a href="#E" class="shortcut">E</a>
        </li>
        <li>
          <a href="#F" class="shortcut">F</a>
        </li>
        <li>
          <a href="#G" class="shortcut">G</a>
        </li>
        <li>
          <a href="#H" class="shortcut">H</a>
        </li>
        <li>
          <a href="#I" class="shortcut">I</a>
        </li>
        <li>
          <a href="#J" class="shortcut">J</a>
        </li>
        <li>
          <a href="#K" class="shortcut">K</a>
        </li>
        <li>
          <a href="#L" class="shortcut">L</a>
        </li>
        <li>
          <a href="#M" class="shortcut">M</a>
        </li>
        <li>
          <a href="#N" class="shortcut">N</a>
        </li>
        <li>
          <a href="#O" class="shortcut">O</a>
        </li>
        <li>
          <a href="#P" class="shortcut">P</a>
        </li>
        <li>
          <a href="#Q" class="shortcut">Q</a>
        </li>
        <li>
          <a href="#R" class="shortcut">R</a>
        </li>
        <li>
          <a href="#S" class="shortcut">S</a>
        </li>
        <li>
          <a href="#T" class="shortcut">T</a>
        </li>
        <li>
          <a href="#U" class="shortcut">U</a>
        </li>
        <li>
          <a href="#V" class="shortcut">V</a>
        </li>
        <li>
          <a href="#W" class="shortcut">W</a>
        </li>
        <li>
          <a href="#X" class="shortcut">X</a>
        </li>
        <li>
          <a href="#Y" class="shortcut">Y</a>
        </li>
        <li>
          <a href="#Z" class="shortcut">Z</a>
        </li>
      </ol>
    </div>


<main id='main'>
	
	<div>
		<ul>
			<% people.forEach((user) => { %>
				<li> 
				<details>
					<summary>
						<h4><%=user.fullName%></h4>
						<p><%=user.phone%></p>
					</summary>
					<h4><%=user.email%></h4>
				</details>
				</li>
			<% }) %>
		</ul>
	</div>

	<div>
		<ol>
			<li id='A'>

			</li>
		</ol>
	</div>
</main>

<a href="#header" id="up">Terug omhoog</a>

<script>
	var backUp = document.getElementById('up')

	    if (typeof document.addEventListener === 'function') { //addEventListener supported from IE9
      window.addEventListener('scroll', function () {
        if (document.documentElement.scrollTop > 200 || window.scrollY > 200) {
          backUp.className = 'fixed'
        } else {
          backUp.className = ''
        }
      })
    } else if(typeof window.attachEvent === 'function'){
      window.attachEvent('onscroll', function () { //attachEvent supported <= IE8
        if (document.documentElement.scrollTop > 200) {
          backUp.className = 'fixed'
        } else {
          backUp.className = ''
        }
      })
    }
</script>